*{
    margin: 0px;
    padding: 0px;
}
ul{
    list-style-type: none;
    display: flex;
    gap: 15px;
}
a{
    text-decoration: none;
}
.header-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}
.header-links{
    display: flex;
    justify-content: space-between;
}
.rest-header{
    display: flex;
    justify-content: space-between;
}