*{
    margin: 0px;
    padding: 0px;
}

ul{
 list-style-type: none;   
}
a{
    text-decoration: none;
}
img{
    border-radius: 15px;
    width: 200px;
    height: 200px;
}
/* inforamation section */
.inf-header{
    margin: 32px;
    font-size: 36px;
    font-weight:900;
    color: #1f2937;
    display: flex;
    justify-content: center;
}
.pictures{
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 52px;
}
.card{
    max-width: 200px;
}
/* quotes */
.quote-section{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
}
div.Quote{
    font-weight: 36px;
    color: #1f2937;
    font-style: italic;
}
.author{
    display: flex;
    justify-content: end;
}
/* contact */
 .contact-section{
    display: flex;
    margin: 25px;
    justify-content: center;
    align-items: center;
}
.contact{
    background-color: #3882f6;
    padding: 25px;
    border-radius: 15px;
    display: flex;
    gap: 15px;
    align-items: center;
}
.contact-header{
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
}
.contact-text{
    font-size: 18px;
    color: #e5e7eb;
}
button{
    background-color: #3882f6;
    color: #e5e7eb;
    font-size: 18px;   
    border-radius: 5px;
    border-color: #e5e7eb;
}